<table class="table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">time</th>
      <th *ngFor="let day of days" scope="col">{{day}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let time of getTimeSlots(); let s = index">
      <tr>
        <th scope="row" id="time-slot">{{time | date: 'shortTime'}}</th>
        <td *ngFor="let day of days; let i = index" id={{day}} [ngClass] = "{ 'bg-primary' : inSession(time, day) }"></td>
                                                              <!-- </td>[ngStyle]="{height: 100%, background: linear-gradient()}"></td> -->
        <!-- <p>{{time}}</p> -->
      </tr>
    </ng-container>
  </tbody>
</table>

<!-- <br><br>
<p>{{earliestClass | json}}</p>
<br>
<p>{{laClass | json}}</p> -->
