<div *ngIf="!initialized" class="jumbotron">Loading Scehdule</div>
<table *ngIf="initialized" class="table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">time</th>
      <th *ngFor="let day of days" scope="col">{{day}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of timeSlots; let s = index">
      <th scope="row" id="time-slot">{{time | date: 'shortTime'}}</th>
      <ng-container *ngFor="let day of days; let d = index">
          <td *ngIf="inSession(time, day)" class = "bg-primary"
              [ngStyle]="{'height': '100%', 'background': getLinearGradient(s, time, day) }">
              <!-- <div class="container"><div id="info" class="span12 fill" placement="right" [ngbPopover]="popover" popoverTitle="Class Info" triggers="mouseenter:mouseleave"></div></div> --></td>
          <td *ngIf="!inSession(time, day)"
              [ngStyle]="{'height': '100%', 'background': getLinearGradient(s, time, day) }"></td>
      </ng-container>
    </tr>
  </tbody>
</table>

<ng-template #popover>Testing</ng-template>
