<table class="table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">time</th>
      <th *ngFor="let day of days" scope="col">{{day}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of getTimeSlots(); let s = index">
      <th scope="row" id="time-slot">{{time | date: 'shortTime'}}</th>
      <td *ngFor="let day of days"
          [ngClass] = "{ 'bg-primary': inSession(time, day) }"
          [ngStyle]="{'height': '100%', 'background': getLinearGradient(s, time, day) }">
      </td>
    </tr>
  </tbody>
</table>
